:root {
	--terminal-green: #00c200;
	--terminal-blue: #4753ff;
	--terminal-red: #ff4529;
	--terminal-black: #242424;
	--terminal-grey: #2b2b2b;
}

* {
	box-sizing: border-box;
	font-family: 'Share Tech Mono', monospace;
}

body {
	margin: 0;
	background-color: var(--terminal-black)
}

#navbutton {
	position: absolute;
	background-color: var(--terminal-grey);
	border: none;
	top: 5px;
	right: 5px;
}

#navbutton:focus {
	outline: none;
}

#navbutton div {
	height: 4px;
	width: 30px;
	margin: 6px;
	background-color: var(--terminal-red);
}

nav {
	background-color: var(--terminal-grey);
	width: 100%;
	min-height: 50px;
	position: sticky;
	left: 0px;
	top: 0px;
}

nav ul {
	list-style: none;
	display: none;
	padding-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#navlist li {
	padding: 2px;
}

#navlist li a {
	font-size: 1.2rem;
	color: var(--terminal-red);
	text-decoration: none;
}

#type-out {
	position: relative;
	top: 3px;
	left: 3px;
	font-size: 1.2rem;
	color: var(--terminal-blue);
}

.blinking {
	animation: blink 1s infinite;
}

@keyframes blink {
	0% {opacity: 1;}
	49% {opacity: 1;}
	50% {opacity: 0;}
	99% {opacity: 0;}
	100% {opacity: 1;}
}

.main {
	position: absolute;
	width: 100%;
	top: 70px;
	z-index: -1;
}

.flex {
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
}

.about-image {
	max-width: 90%;
	position: relative;
	left: 5%;
}

.main-content {
	padding: 10px;
	color: var(--terminal-green);
	background-color: var(--terminal-black);
}

.skill {
	width: 48%;
	margin-bottom: 20px;
	text-align: center;
}

.skill-image {
	max-width: 95%;
}

.skill-name {
	font-size: 1.2rem;
	color: var(--terminal-blue);
}

.skill-description {
	display: none;
	color: var(--terminal-green);	
}

.project {
	width: 90%;
	margin-bottom: 20px;
}

.project-image {
	max-width: 100%;
}

.modals {
	height: 100%;
}

.project-modal {
	display: none;
	position: absolute;
	background-color: #ffffff11;
	padding-top: 70px;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	text-align: center;
}

.project-title {
	color: var(--terminal-blue);
}

.project-description {
	position: relative;
	color: var(--terminal-green);
	width: 60%;
	left: 20%;
}

.project-button {
	position: relative;
	display: inline-block;
	width: 125px;
	height: 75px;
	background-color: var(--terminal-grey);
	border: 2px solid var(--terminal-black);
}

.project-button a {
	position: absolute;
	text-decoration: none;
	color: var(--terminal-blue);
	font-size: 1.25rem;
	width: inherit;
	height: inherit;
	padding-top: 12px;
	top: 0;
	left: 0;
}

.contact-list {
	list-style: none;
	color:var(--terminal-green);
}

.contact-link {
	text-decoration: none;
	color: var(--terminal-green);
	float: right;
}


@media (min-width: 768px) {
	nav {
		display: flex;
		height: 55px;
	}
	
	nav ul {
		display: flex !important;
		width: inherit;
	}
	
	#navlist li {
		text-align: center;
		padding-top: 10px;
	}
	
	#navlist li:first-child {
		width: 16%;
	}
	
	#navlist li:nth-child(2) {
		width: 18%;
	}
	
	#navlist li:nth-child(3) {
		width: 21%;
	}
	
	#navlist li:nth-child(4) {
		width: 22%;
	}
	
	#type-out {
		width: 275px;
	}
	
	#navbutton {
		display: none;
	}
	
	.main {
		top: 70px;
		width: 80%;
		left: 10%;
		background-color: var(--terminal-black);
	}
	
	.about-image {
		float: right;
		max-width: 450px;
		left: 0;
		margin: 20px;
	}
	
	.skill-description {
		display: block !important;
	}
	
	.project {
		width: 30%;
	}
}

@media (min-width: 1125px) {
	.about-image {
		max-width: 50%;
	}
}