* {
	box-sizing: border-box;
	font-family: 'Share Tech Mono', monospace;
}

#navbutton {
	position: absolute;
	background-color: #000000;
	border: none;
	top: 10px;
	right: 10px;
}

#navbutton:focus {
	outline: none;
}

#navbutton div {
	height: 4px;
	width: 30px;
	margin: 6px;
	background-color: #00ff00;
}

nav ul {
	list-style: none;
	display: none;
}

.main {
	min-height: 44px;
	background-color: #000000;
}

#type-out {
	font-size: 1.2rem;
	color: #00ff00;
}

.blinking {
	animation: blink 1s infinite;
}

@keyframes blink {
	0% {opacity: 1;}
	49% {opacity: 1;}
	50% {opacity: 0;}
	99% {opacity: 0;}
	100% {opacity: 1;}
}