:root {
	--terminal-green: #00c200;
	--terminal-blue: #4753ff;
	--terminal-red: #ff4529;
	--terminal-black: #242424;
	--terminal-grey: #2b2b2b;
}

* {
	box-sizing: border-box;
	font-family: 'Share Tech Mono', monospace;
}

body {
	margin: 0;
	background-color: var(--terminal-black)
}

#navbutton {
	position: absolute;
	background-color: var(--terminal-grey);
	border: none;
	top: 5px;
	right: 5px;
}

#navbutton:focus {
	outline: none;
}

#navbutton div {
	height: 4px;
	width: 30px;
	margin: 6px;
	background-color: var(--terminal-red);
}

nav {
	background-color: var(--terminal-grey);
	width: 100%;
	min-height: 50px;
	position: sticky;
	left: 0px;
	top: 0px;
}

nav ul {
	list-style: none;
	display: none;
	padding-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#navlist li {
	padding: 2px;
}

#navlist li a {
	font-size: 1.2rem;
	color: var(--terminal-red);
	text-decoration: none;
}

#type-out {
	position: relative;
	top: 3px;
	left: 3px;
	font-size: 1.2rem;
	color: var(--terminal-blue);
}

.blinking {
	animation: blink 1s infinite;
}

@keyframes blink {
	0% {opacity: 1;}
	49% {opacity: 1;}
	50% {opacity: 0;}
	99% {opacity: 0;}
	100% {opacity: 1;}
}

.main {
	position: absolute;
	width: 100%;
	top: 70px;
	z-index: -1;
}

.about-image {
	max-width: 90%;
	position: relative;
	left: 5%;
}

.main-content {
	padding: 10px;
	color: var(--terminal-green);
	background-color: var(--terminal-black);
}

.contact-list {
	list-style: none;
	color:var(--terminal-green);
}

.contact-link {
	text-decoration: none;
	color: var(--terminal-green);
	float: right;
}

@media (min-width: 768px) {
	nav {
		display: flex;
		height: 55px;
	}
	
	nav ul {
		display: flex !important;
		width: inherit;
	}
	
	#navlist li {
		text-align: center;
		padding-top: 10px;
	}
	
	#navlist li:first-child {
		width: 16%;
	}
	
	#navlist li:nth-child(2) {
		width: 18%;
	}
	
	#navlist li:nth-child(3) {
		width: 21%;
	}
	
	#navlist li:nth-child(4) {
		width: 22%;
	}
	
	#type-out {
		width: 275px;
	}
	
	#navbutton {
		display: none;
	}
	
	.main {
		top: 70px;
		width: 80%;
		left: 10%;
		background-color: var(--terminal-black);
	}
	
	.about-image {
		float: right;
		max-width: 450px;
		left: 0;
		margin: 20px;
	}
}

@media (min-width: 1125px) {
	.about-image {
		max-width: 50%;
	}
}